{% extends 'store/main.html' %} 
{% load static %}


{% block content %}


<div class="row">
    {% for product in products %}
    <div class="col-lg-4">
        <a href="{% url 'product' %}"><img class="thumbnail" src="{{product.imageURL}}"></a>
        <div class="box-element product">
            <h6>{{product.name}}</h6>
            <hr>
            <button data-product={{product.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
            <button class="btn btn-outline-secondary add-btn">View</button>
            <h4 class="price-tag">${{product.price|floatformat:2}}</h4>
        </div>
     </div>
        {% endfor %}
</div>

  

{% endblock content %}


